APP_NAME=Tabulation
APP_ENV=local
APP_KEY=base64://3L/ibjtrwAIYVkZKjsvQ27OTNnjAWLX+4lZ+Iz884=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=tab
DB_USERNAME=postgres
DB_PASSWORD=12345678

BACKUP_DISK=local
