APP_NAME=Tabulation
APP_ENV=local
APP_KEY=base64://3L/ibjtrwAIYVkZKjsvQ27OTNnjAWLX+4lZ+Iz884=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=tab
DB_USERNAME=postgres
DB_PASSWORD=12345678

BACKUP_DISK=local

BROADCAST_CONNECTION=reverb
REVERB_APP_ID=local
REVERB_APP_KEY=local
REVERB_APP_SECRET=local
REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http

#php artisan reverb:start --host=0.0.0.0 --port=8080